# Build artifacts
yocto/build/
yocto/downloads/
yocto/sstate-cache/
yocto/bsp_files/
yocto/tmp/
downloads/
sstate-cache/

# Binary backups
*.dtb.bak

# Images
backup/
bsp_full_OneKiWi/

# OS junk
*.pyc
__pycache__/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.~lock*
*.lock

# IDE
.vscode/
.idea/
